*~
*#
*.swp
.DS_Store

/.mypy_cache/
/.vscode/

__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.mypy_cache
*.iml
*.xml
.ipynb_checkpoints/

.coverage
/.coverage.*
/.cache

/doc/_build/
/doc/generated/
/doc/examples/
/doc/notebooks/
/build
/dist
.pytest_cache
