<footer>
    <div class="container">
        <div class="row p20">


            <div class="col-md-4 text-center mt25">
               {% if site.facebook %}
                <a target="_blank" href="{{site.facebook}}"><li class="social facebook"><i class="fa fa-facebook-square"></i></li></a>
                {% endif %}
               {% if site.quora %}
                <a target="_blank" href="{{site.quora}}"><li class="social quora"><i class="fa fa-quora"></i></li></a>
                {% endif %}
               {% if site.twitter %}
                <a target="_blank" href="{{site.twitter}}"><li class="social twitter"><i class="fa fa-twitter-square"></i></li></a>
                {% endif %}
               {% if site.github %}
                <a target="_blank" href="{{site.github}}"><li class="social github"><i class="fa fa-github-square"></i></li></a>
                {% endif %}
               {% if site.email %}
                <a target="_blank" href="mailto:{{site.email}}"><li class="social email"><i class="fa fa-envelope"></i></li></a>
                {% endif %}
            </div>

        </div>
    </div>
</footer>
