name: Coverage

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v5

      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install flake8 pytest
          pip install -r requirements/requirements.txt
          pip install -r requirements/test_requirements.txt
          # work around issues with GPy setting matplotlib backend
          echo 'backend: Agg' > matplotlibrc
          pip install .
      - name: Run coverage
        run: |
          python -m pytest --verbose --cov emukit --cov-report term-missing tests
      - name: Run codecov
        if: success()
        run: |
          codecov