name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  all_tests:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11"]

    steps:
    - uses: actions/checkout@v5
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements/requirements.txt
        pip install -r requirements/test_requirements.txt
        pip install -r requirements/integration_test_requirements.txt -q
        # work around issues with GPy setting matplotlib backend
        echo 'backend: Agg' > matplotlibrc
        pip install .
    - name: Unit tests
      run: |
        python -m pytest tests
    - name: Integration tests
      run: |
        python -m pytest integration_tests

  os_versions:

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v5
    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements/requirements.txt
        pip install -r requirements/test_requirements.txt
        # work around issues with GPy setting matplotlib backend
        echo 'backend: Agg' > matplotlibrc
        pip install .
    - name: Unit tests
      run: |
        python -m pytest tests
